*{
    box-sizing: border-box;
}
.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;

}
.topLeft li{
    margin-right: 10px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: green;
    cursor: pointer;
}
.topCenter{
    flex: 6;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    cursor: pointer;
}
.topListItem:hover{
    color: #666;
}

.topSearchIcon{
    font-size: 16px;
    margin-right: 10px;
    color: green;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
  .topRight,
  .topCenter{
    display: none;
  }
  .top{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 7vh;
    box-sizing: border-box;
    overflow: hidden;
    
  }
  .topLeft{
    justify-content: flex-start;
    width: auto;
  }
  .topLeft li{
    margin-right: 10px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  
}
.profiledropdownHolder{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
.articleAfricaLogo{
  font-size: 29px;
  font-weight: bold;
  color: green;
  margin-left: 30px;
  cursor: pointer;                              
}
.articleAfricaLogo img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
/*on Hover*/
.articleAfricaLogo:hover{
  color: #666;
}
  
.modal-75w{
  max-width: 75%;
  width: 75%;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 999;
  background-color: var(--primary-color);

}
.modal-body{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.modal-footer-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/*Icon appear on 768px devices and smaller*/
.topFarRight{
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 10px;
  }
}


