*{
  box-sizing: border-box;
  
}
.article-container {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  height: 230px;
  width: 200px;
  @media screen and (max-width: 768px){
    margin-top: 5px;
    height: 97%;
    width: 90%;
    border: 0.25px solid #ccc;
    /*Center in the screen*/
    margin-left: auto;
    margin-right: auto;
  
    
  }
}

.appContainer{
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 100%;
  overflow-x: hidden;
  @media screen and (max-width: 768px) {
    height: 100%;
    width: 100%; /* Reduce the width to 80% on small screens */
    overflow-x: hidden; /* Optionally, prevent horizontal scrolling */
  }

}
.leftDiv{
  width: 80%;
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  flex-grow: 1;
  @media  screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    
  }
}
  
.rightDiv{
  width: 20%; 
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  
  @media screen and (max-width: 768px) {
    display: none;
    padding: 0;
    margin: 0;
    width: auto;
  }
  
}
.rightDiv h4{
  color: var(--secondary-color);
}
.categoryLinks h5{
  color: var(--secondary-color);
}
.articleTitleSmall p{
  font-size: 12px;
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}
.shortArticleText{
  font-size: 10px;
  @media screen and (max-width: 768px) {
    font-size: 10px;
    line-height: 2em;
  }
}

.articleTitleSmall {
  margin-top: 7px; 
  /*Reduce on small screens*/
  @media screen and (max-width: 768px) {
    margin-top: 5px; 
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: #8B4513;
    }
  }
}

.shortArticleText {
  margin-top: -9px; 
  /*Hide on small screens*/
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}
.article-image img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
   border-radius: 10px;
  
  }
}
.captionParagraph {
  background-color: #8B4513; 
  color: white;
  padding: 10px; 
  border-radius:  0 0 10px 10px;
  /*Move a bit on top on smaller devices*/
  @media screen  and (max-width: 768px) {
    margin-top: -5px;
    padding: 15px;
  }
}
.tipsadjust img{
  border-radius: 10px 10px 0 0;
}
.categoryInit{
  background-color: #8B4513; 
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
  font-size: 14px;
}

.categoryLinks{
  
  padding: 5px; 
  border-radius:  10px 10px 0 0;
  font-size: 14px;
}

.categoryLinks:hover{
  background-color: #8B4513; 
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
}




