*{
  box-sizing: border-box;
}
.article-container {
   
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    height: 230px;
    width: 200px;
    @media screen and (max-width: 768px) {
      height: 160px;
      width: 160px;
      margin: 2px;
      padding: 5px;
      
    }
  }

.appContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    padding: 5px;
    margin: 5px;
  }
}
.leftDiv{
  width: 80%;
  
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  flex-grow: 1;

  @media  screen and (max-width: 768px) {
    width: auto;
    margin: 5px;
    padding: 3px;
  }
}
  
.rightDiv{
  width: 20%;
  
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    display: none;
    padding: 0;
    margin: 0;
    width: auto;
  }
  
}
.articleTitleSmall p{
  font-size: 12px;
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}
.shortArticleText{
  font-size: 10px;
  @media screen and (max-width: 768px) {
    font-size: 8px;
  }
}

.articleTitleSmall {
  margin-top: 7px; 
}

.shortArticleText {
  margin-top: -9px; 
}
.article-image img{
  width: 100%;
  height: 30%;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
.captionParagraph {
  background-color: #8B4513; 
  color: white; 
  padding: 10px; 
  border-radius:  0 0 10px 10px;
}
.tipsadjust img{
  border-radius: 10px 10px 0 0;
}
.categoryInit{
  background-color: #8B4513; 
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
  font-size: 14px;
}

.categoryLinks{
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
  font-size: 14px;
}

.categoryLinks:hover{
  background-color: #8B4513; 
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
}




