*{
  box-sizing: border-box;
}
.article-container {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  height: 230px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .article-container {
    height: 150px;
    width: 150px;
    margin: 20px auto; /* Center the container horizontally with 10px margin on top and bottom */
    padding: 0;
  }
}


  .py-2 {
    padding-top: 1rem; /* or the desired value for large devices */
    padding-bottom: 1rem; /* or the desired value for large devices */
  }
  
  @media screen and (max-width: 768px) {
    .py-2 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  

.appContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    padding:0;
    margin: 0;
  }
}
.leftDiv{
  width: 80%;
  
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  flex-grow: 1;

  @media  screen and (max-width: 768px) {
    width: auto;
    margin: 5px;
    padding: 5px;
  }
}
  
.rightDiv{
  width: 20%;
  
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    display: none;
    padding: 0;
    margin: 0;
    width: auto;
  }
  
}
.articleTitleSmall p{
  font-size: 12px;
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}
.shortArticleText{
  font-size: 10px;
  @media screen and (max-width: 768px) {
    font-size: 8px;
  }
}

.articleTitleSmall {
  margin-top: 7px; 
  /*Reduce on small screens*/
  @media screen and (max-width: 768px) {
    margin-top: 0px; 
    font-size: 13px;
  }
}

.shortArticleText {
  margin-top: -9px; 
  /*Hide on small screens*/
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.article-image img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    width: 95%;
    height: 100%;
   border-radius: 10px;
  }
}
.captionParagraph {
  background-color: #8B4513; 
  color: white; 
  padding: 10px; 
  border-radius:  0 0 10px 10px;
  /*Move a bit on top on smaller devices*/
  @media screen  and (max-width: 768px) {
    margin-top: -5px;
    padding: 15px;
  }
}
.tipsadjust img{
  border-radius: 10px 10px 0 0;
}
.categoryInit{
  background-color: #8B4513; 
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
  font-size: 14px;
}

.categoryLinks{
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
  font-size: 14px;
}

.categoryLinks:hover{
  background-color: #8B4513; 
  color: white; 
  padding: 5px; 
  border-radius:  10px 10px 0 0;
}




